/* Button */
.btn {
  border: 1px solid transparent;
  color: #ffffff;
  background-color: var(--color-primary);
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  animation: btn ease 0.3s;
  background-color: var(--color-bg-btn--hover);
}

@keyframes btn {
  from {
    background-color: var(--color-primary);
  }
  to {
    background-color: var(--color-bg-btn--hover);
  }
}

.btn--half {
  padding: 16px 26px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-left: -5px;
}

.btn--full {
  border-radius: 50px;
}

.btn--origin {
  border: 5px;
}

/* Input */
.input {
  padding: 16px 26px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-border-input);
  color: #495057;
}

::placeholder {
  color: #9a9a9a;
  /* font-weight: bold; */
}

.input--full {
  width: 100%;
  border-radius: 50px;
}

.input--origin {
  border-radius: 50px;
}

.input--half {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.input:focus {
  outline: none;
}

/* Textarea */
.textarea {
  padding: 16px 26px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-border-input);
  color: #495057;
  border-radius: 10px;
  font-size: 1.5rem;
}

.textarea--full {
  width: 100%;
  min-height: 214px;
}

.textarea:focus {
  outline: none;
}

/* Layout */
.layout-row--two {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
}

.layout-row--three {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Aimation Item */
.post {
  transition: all 0.25s;
}

.post:hover {
  box-shadow: var(--box-shadow-hover);
}

.post--shadow {
  transition: all 0.25s;
  box-shadow: var(--box-shadow-normal);
}

.post--shadow:hover {
  transform: translateY(-4px);
  box-shadow: var(--box-shadow-normal), var(--box-shadow-hover);
}
/* ________________________________________________________ */
